@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

body {
  @apply bg-zinc-50 text-zinc-900 antialiased;
}

/* Scroll suave para links internos */
html {
  scroll-behavior: smooth;
}